<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.truereality.onetomany.mapper.OrderMapper">

    <select id="findOrdersByUserId" parameterType="Integer" resultType="com.truereality.onetomany.Order">
        SELECT *
        from tb_orders
        where user_id = #{id}
    </select>

</mapper>